<header class="break">
<h1>Cafe Menu</h1>
</header>
<br>
<br>
<div>
<h3><u>Coffee</u></h3>
<br>
<form action="/orders" method="POST">
<ul>
<% @items.each do |item| %>
    <%if item.category.name == "coffee" %>
        <li><input type="checkbox" name="item_id[]" id="<%= item.id %>" value="<%= item.id %>"><%= item.title %> - $<%= item.price %></li>
        <br>
    <% end %>

<% end %>
</ul>
</div>

<div>
<h3><u>Tea</u></h3>
<br>
<ul>
<% @items.each do |item| %>
    <%if item.category.name == "tea" %>
        <li><input type="checkbox" name="item_id[]" id="<%= item.id %>" value="<%= item.id %>"><%= item.title %> - $<%= item.price%></li>
        <br>
    <% end %>

<% end %>
</ul>
</div>

<div>
<h3><u>Food</u></h3>
<br>
<ul>
<% @items.each do |item| %>
    <%if item.category.name == "food" %>
        <li><input type="checkbox" name="item_id[]" id="<%= item.id %>" value="<%= item.id %>"><%= item.title %> - $<%= item.price%></li>
        <br>
    <% end %>

<% end %>
</ul>
<button type="submit" class="facebook-style-btn facebook-style-dark">Add to Order</button>
</form>
</div>
