<header class="break">
<h1>My Order</h1>
</header>
<br>
<br>
<ol>
    <% @order.items.each do |item| %>
        <li><%= item.title %> - $<%= item.price %></li>
        <br>
    <% end %>

    Total Price: $<%= @order.total_price%>
    <br>
    <br>

    <p><a href="/orders/<%= @order.id %>/edit" class="button4" style="background-color:#4e9af1">Edit Your Order</a></p>
    <form action="/orders/<%= @order.id %>" method="post">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <button type="submit" class="facebook-style-btn facebook-style-dark">Delete Order</button>
    </form>
</ol>